
$main-font: 'Montserrat', sans-serif;

// Colors

$primary-brown: #321f28;
$secondary-brown: #734046;
$normal-brown: #7d5a5a;
$light-brown: #a05344;
$burned-yellow: #e79e4f;
$black: #000;
$white: #fff;


//Media Queries
$phone: 480px;
$tablet:768px;
$desktop:1200px;


//Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$blackBold:900;



// Separators

$separator: 5rem;