.about-fest {
  padding: $separator 0;

  @include tablet {
    @include grid(2, $separator);
  }

  .container-fest {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 3rem;
    }

    .date {
      color: $burned-yellow;
      font-weight: $bold;
    }

    .text {
      line-height: 1.5;
    }
  }
}
